data_rename/1_ANALYTIQ.txt
data_rename/1_ECRITURE .txt
data_rename/1_ECRITURE.txt
data_rename/1_ECRITUREORDER.txt
data_rename/1_ECRITUREWHERE.txt
data_rename/1_EXERCICE.txt
data_rename/1_GENERAUX.txt
data_rename/1_JOURNAL.txt
data_rename/1_SOCIETE.txt
data_rename/1_TIERS.txt